name: CI

on:
  push:
    branches: [dev]
  pull_request:
    # branches: [dev]
    types: [opended, synchronize]

  # Allows you to run this workflow manually from the Actions tab
  # workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: yarn install --frozen-lockfile
      - uses: actions/cache@v2.1.4
        id: cache-build
        with:
          path: '.'
          key: ${{ github.sha }}
          
  validate:
    name: Validate
    runs-on: ubuntu-latest
    needs: build
    steps:
      - uses: actions/cache@v2.1.4
        id: restore-build
        with:
          path: '.'
          key: ${{ github.sha }}
      - run: yarn validate
        env:
          CI: true
